.notFoundContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundContainer .image {
  width: 60%;
  aspect-ratio: 2/1;
}

@media only screen and (max-width: 768px) {
  .notFoundContainer .image {
    width: 90%;
    aspect-ratio: 2/2;
  }
}
